.hr {
  width: 100%;
  background: var(--color-white);
  opacity: 0.4;
}

.footer {
  padding: 0 81px 0;
  background: #262626;
}
.footer * {
  outline-color: white;
}
.footer__container {
  max-width: 962px;
  margin: 0 auto;
  position: relative;
  padding: 56px 0 40px;
}
.footer__logo {
  margin-bottom: 40px;
  width: fit-content;
}
.footer__nav {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  gap: 16px;
  padding: 32px 0 48px;
}
.footer__app {
  display: flex;
  justify-content: center;
  margin: 41px 0 39px;
}
.footer__rights {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  gap: 16px;
  margin-top: 40px;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  color: var(--color-white);
}

.footer__nav-lang {
  position: relative;
  width: fit-content;
}
.footer__nav-lang::after {
  content: "";
  display: block;
  position: absolute;
  background: url(images/arrow.svg) center no-repeat;
  width: 14px;
  height: 8px;
  top: 16px;
  right: 8px;
  cursor: pointer;
  pointer-events: none;
}
.footer__nav-name {
  margin-top: 33px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: var(--color-white);
}
.footer__nav-name-hash {
  color: #49a144;
}
.footer__nav-social {
  display: flex;
  justify-content: space-between;
  width: 92px;
  margin-top: 17px;
}
.footer__nav .column-2 .link,
.footer__nav .column-3 .link {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: var(--color-white);
  width: fit-content;
}
.footer__nav .column-2 .link + .link,
.footer__nav .column-3 .link + .link {
  margin-top: 23px;
}

.select-lang {
  background-image: url(images/world.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-color: #3b3b3b;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 0 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 227px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.footer__app .gplay {
  margin-left: 40px;
}

.footer__rights .link {
  color: inherit;
  width: fit-content;
}

.arrow-to-top {
  width: 80px;
  height: 80px;
  position: fixed;
  background-color: var(--color-green);
  border-radius: 2px;
  right: 16px;
  bottom: 24px;
}
.arrow-to-top::after {
  content: "";
  display: block;
  position: absolute;
  background: url(images/arrowtotop.svg) center no-repeat;
  width: 16px;
  height: 25px;
  bottom: 28px;
  right: 32px;
}
.arrow-to-top:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

@media (max-width: 1023px) {
  .footer {
    padding: 0 8px;
  }
  .footer__container {
    max-width: 768px;
  }
  .footer__nav {
    margin-bottom: 51px;
  }

  .footer__nav .select-lang {
    width: 176px;
  }
  .footer__nav-social {
    width: 96px;
    margin-top: 15px;
  }

  .arrow-to-top {
    right: 16px;
    bottom: 25px;
  }
}
@media (max-width: 639px) {
  .footer__container {
    max-width: 320px;
  }
  .footer__nav {
    grid: auto-flow/1fr;
    margin-bottom: 40px;
    padding-bottom: 0;
  }
  .footer .column-2 {
    margin-top: 39px;
  }
  .footer .column-3 {
    margin-top: 23px;
  }
  .footer__app {
    margin: 24px 0;
  }
  .footer__rights {
    grid: auto-flow/1fr;
  }
  .footer__rights .link {
    margin-top: 24px;
  }

  .footer__app .gplay {
    margin-left: 24px;
  }

  .arrow-to-top {
    width: 64px;
    height: 64px;
  }
  .arrow-to-top::after {
    bottom: 20px;
    right: 24px;
  }
}

/*# sourceMappingURL=_footer.css.map */
